<!-- <div class="p-grid p-align-center vertical-container">
    <div class="p-col-4">
        <div class="box"></div>
    </div>
    <div class="p-col-4">
        <div class="p-col-12">
          <input type="text" pInputText [(ngModel)]="usuario"/>
        </div>
        <div class="p-col-12">
          <button pButton type="button" label="Logar" ></button>
        </div>
    </div>
    <div class="p-col-4">
        <div class="box"></div>
    </div>
</div> -->

<div class="center">
  <!-- <h1>Hello Angular 8!</h1> -->

    <div class='p-col'>
      A
    </div>
    <div class='p-col'>
      <div class='p-col-12'>
        <input type="text" pInputText [(ngModel)]="usuario"/>
      </div>
      <div class='p-col-12'>
        <button pButton type="button" label="Logar" ></button>
      </div>
      <br />

    </div>
    <div class='p-col'>
      B
    </div>


</div>


<!-- <div class="container">
  <div class="box">
    <input type="text" pInputText [(ngModel)]="usuario"/>
    <br />
    <button pButton type="button" label="Logar" ></button>
  </div>
</div>

<div class="p-d-flex p-flex-column">
  <div class="p-mb-2">Item 1</div>
  <div class="p-mb-2">Item 2</div>
  <div>Item 3</div>
</div> -->
